body {
    margin: 0;
    background-color: #A48858;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.business-card {
    width: 700px;
    height: auto;
    position: relative;
    margin: 30px auto;
}


.front-card {
    width: 700px;
    height: 482px;
    background-color: #4B2E2B;
    position: relative;
    overflow: hidden;
}


.front-card .logo {
    width: 210px;
    height: 170px;
    object-fit: contain;
    position: absolute;
    top: 30px;
    left: 130px;
}

.front-card h1 {
    position: absolute;
    top: 195px;
    left: 100px;
    margin: 0;

    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 6px;

    background: linear-gradient(
        90deg,
        #FFFFFF 0%,
        #D4AF37 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.front-card h2 {
    position: absolute;
    top: 250px;
    left: 133px;
    margin: 0;

    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.front-card p {
    position: absolute;
    top: 290px;
    left: 105px;
    margin: 0;

    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 3px;
    color: #FFFFFF;
}

.front-card .curl-design {
    position: absolute;

    width: auto;
    height: 482px;

    left: auto;
    right: -10px;
    top: 0;

    object-fit: contain;
    z-index: 0;
}

.back-card {
    width: 700px;
    height: 482px;
    background-color: #4B2E2B;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.contact-information {
    position: absolute;
    top: 45px;
    left: 50px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

.name-position {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.name-position > img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 13px;
}

.name-position h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}

.name-position h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.contact-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.contact-item p {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}


.back-card .curl-design {
    position: absolute;

    width: auto;
    height: 482px;

    left: auto;
    right: -10px;
    top: 0;

    object-fit: contain;
    z-index: 0;
}

.pizza-image {
    width: 275px;
    height: 300px;
    object-fit: cover;

    border-radius: 50%;

    position: absolute;
    right: 10px;
    bottom: 0;
}